
.box {
  display: flex;
  justify-content: space-between;

}
nav {
  width: 250px;
  padding: 20px;
  margin-left: -9%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.centerbox {
  background-color: blue;
}
pre b{
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  background-color: rgb(66, 65, 65);;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(66, 65, 65);
  font-size: larger;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}
.rightbox {
  background-color: rgb(66, 65, 65);
  padding: 30px;
  height: 180px;
  color: white;
  width: 200px;
}
.rightbox,.leftbox,.centerbox{
  margin-top: 11%;
  margin-bottom: 10%;
}
.rightbox p ,h2{
  margin-top: -6%;
  font-size: medium;
  text-align: center;
  color: white;
  padding: 2px;
}
.rightbox h2 {
  font-weight: bolder;
}
form {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px;
  width: 500px;
}

label {
  display: block;
  margin-bottom: 8px;
}

select ,input{
  width:   100%;
  padding: 6px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
